
.title-section{
   
}
.cards-area{
    background-color: rgb(231, 236, 255);
    width: 100%;
margin: auto;


}
.product-image{
    padding: 12px;
}
.card-body .add-btn{
 background:
     #6F50C8;
    color: white;

}
   