/*   D0D4F0   #8757F2   853CF3 اغمق*/
/** F47069 برتقالي F3EFFA  بنفسجي فاتح    */
/*6F50C8 غامق */

body{
    font-family: "Josefin Sans", sans-serif;

}

.half-background{
    height: 100%;
    background-color: #6F50C8;
    background: linear-gradient(
    to top,
    white 0%,
    white 50%,
    #E7ECFF 50%,
    #E7ECFF  0%
  );

}
.view-card{
    margin: auto;
  
    position: absolute;
     max-width: 85%;
    border-radius: 100px;
    font-family: "Josefin Sans", sans-serif;
    

}
.card-body h1{
    font-family: "Abril Fatface", serif;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-body .view-text{
    text-align: left;
    font-size:26px;
    color: white;
    width: fit-content;
}

.all{
    margin-bottom: 0px;
}
@media (min-width: 777px) and (max-width: 1200px) {
    .shopTitle{
        font-size: 34px;
    }
    .logo{
        width: 88px;
    }
    .card-body .view-text{
        text-align: left;
        font-size:24px;
  
    }

}